<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h1 class="display-3">CAPTURE THE FLAG<span class="vim-caret">͏͏&nbsp;</span></h1>
        <div class="lead mb-3 text-mono text-success">Selamat datang, para hacker! Buktikan pada dunia bahwa seorang jenius komputer bukanlah “nerd” yang hanya duduk di pojokan kamar berantakan, tapi seorang petualang digital dengan semangat dan kreativitas tinggi! Bergabunglah dalam CTF kami dan uji kemampuanmu di dunia forensik komputer, keamanan siber, dan eksploitasi sistem. Belajar sambil bermain, pecahkan tantangan, dan raih kejayaanmu di arena hacker sejati.
        </div>
        <div class="text-mono">
          <a href="challenges" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left">
            Let's Hack!
          </a>
        </div>
        <div class="text-darkgrey text-mono my-2">Tenang saja, kami tidak akan mencuri password-mu :)</div>
        <p class="mt-5 text-grey text-spacey">
          Hack the challenge, capture the flag, and become a legend.
          <br>
        </p>
      </div>
    </div>
  </div>
</div>
